@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;900&display=swap");

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-weight: 800;
}

.App {
  text-align: center;
  font-family: "Cairo", sans-serif;
  background-color: "#FEFEFE";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-grey-btn {
  border-color: #6a6a6a !important;
  color: #6a6a6a !important;
}

.dark-grey-btn:hover {
  background: #6a6a6a10 !important;
  transition: background 250ms !important;
}

.cursive-font {
  font-family: "Pacifico", cursive !important;
}

.primary-color {
  color: #009267;
}

.error-color {
  color: #ff8184;
}

.success-color {
  color: #78d9ae;
}

.edit-link {
  color: #78d9ae;
}

.edit-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
